<template>
    <div>
        <md-toolbar class="md-primary">
            <md-button
                    class="md-icon-button"
                    @click="back"
            >
                <md-icon>arrow_back</md-icon>
            </md-button>
            <h2 class="md-title">About RoundPal</h2>
        </md-toolbar>
        <div class="page about">
            <p>Hi, RoundPal is a side project to solve a problem my friends and I were having with trying to remember who
                should get the next coffee or beer.</p>
            <p>It's free because it's currently costing me about 3 coffees a month to keep running and because I'm really
                enjoying making it. If you use Bitcoin and want to support this project you can donate to
                <code>1LPY8ZY9rUwe1Tb34feMSbHNzksHskJTu5</code>.</p>
            <p>I'm not using your email address for anything other than sending you your access code.</p>
            <p>If you have any feedback I'd love to hear how you're using it and what I can do to make it better:
                <a href="mailto:damian@roundpal.com">damian@roundpal.com</a> or tweet me at
                <a href="https://twitter.com/roundpal" target="_blank">@roundpal</a>.</p>
            <p>If you want to contribute or see how things work in behind the scenes take a look at
                <a href="https://gitlab.com/damianpeterson/roundpal-api">the API</a> or
                <a href="https://gitlab.com/damianpeterson/roundpal-web">the web app</a>.</p>
            <p>Still heaps to do. Major features on the horizon: 'money' mode where you can split bills by cost, the
                ability to have multiple groups, view and reverse transactions, sign in with Twitter (DM your code).</p>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
            };
        },
        props: {
            token: null
        },
        methods: {
            back () {
                if (this.token) {
                    this.$emit('pageChanged', 'choose-buyer');
                } else {
                    this.$emit('pageChanged', 'sign-up-in');
                }
            }
        }
    };
</script>

<style scoped>
</style>
