<template>
    <div>
        <main-top-bar
                :group="group"
                :groups="groups"
                @pageChanged="pageChanged"
                @changeGroup="changeGroup"
                @logOut="logOut"
        ></main-top-bar>
        <div class="page">
            <md-list v-if="buyer">
                <md-list-item
                        @click="resetBuyer"
                        class="is-buyer"
                >
                    <md-icon class="md-accent">check_box</md-icon>
                    <span>{{ buyer.name }}</span>
                    <md-chip>{{ buyer.value + recipients.length }}</md-chip>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
            <p class="md-title" v-if="buyer">{{ buyer.name }} is buying for...</p>
            <md-list>
                <md-list-item
                        v-for="person in selectableRecipients"
                        @click="toggleRecipient(person)"
                        :class="person.isRecipient ? 'is-recipient' : ''"
                >
                    <md-icon class="md-warn">check_box{{ person.isRecipient ? '' : '_outline_blank' }}</md-icon>
                    <span>{{ person.name }}</span>
                    <md-chip>{{ person.value - (person.isRecipient ? 1 : 0) }}</md-chip>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
            <md-button class="md-raised md-primary"
                       :disabled="recipients.length === 0"
                       @click="createTransaction"
            >go</md-button>
        </div>
    </div>
</template>

<script>
    import MainTopBar from './MainTopBar';

    export default {
        components: {
            MainTopBar
        },
        data () {
            return {
            };
        },
        props: {
            groups: null,
            group: {
                type: Object,
                required: true
            },
            people: {
                type: Array,
                required: true
            },
            buyer: {
                type: Object,
                required: true
            }
        },
        methods: {
            pageChanged (page) {
                this.$emit('pageChanged', page);
            },
            logOut () {
                this.$emit('logOut');
            },
            resetBuyer () {
                this.$emit('resetBuyer');
            },
            toggleRecipient (selectedPerson) {
                let person = this.people.find(person => person.id === selectedPerson.id);

                person.isRecipient = !person.isRecipient;
            },
            createTransaction () {
                this.$emit('recipientsSelected', this.recipients);
            },
            changeGroup (group) {
                this.$emit('changeGroup', group);
            }
        },
        computed: {
            recipients () {
                return this.people.filter(person => person.isRecipient === true);
            },
            selectableRecipients () {
                let selectable = this.people.filter(person => !person.isBuyer);

                return selectable.sort((a, b) => {
                    return a.value < b.value;
                });
            }
        }
    };
</script>

<style scoped type="text/css" lang="scss">
</style>
