<template>
    <div>
        <main-top-bar
                :group="group"
                :groups="groups"
                @pageChanged="pageChanged"
                @changeGroup="changeGroup"
                @logOut="logOut"
        ></main-top-bar>
        <div class="page">
            <p class="md-title">Who's buying?</p>
            <md-list>
                <md-list-item
                        v-for="person in orderedPeople"
                        @click="selectBuyer(person)"
                >
                    <md-icon class="md-accent">check_box_outline_blank</md-icon>
                    <span>{{ person.name }}</span>
                    <md-chip>{{ person.value }}</md-chip>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </div>
    </div>
</template>

<script>
    import MainTopBar from './MainTopBar';

    export default {
        components: {
            MainTopBar
        },
        data () {
            return {
            };
        },
        props: {
            groups: null,
            group: {
                type: Object,
                required: true
            },
            people: {
                type: Array,
                required: true
            }
        },
        methods: {
            pageChanged (page) {
                this.$emit('pageChanged', page);
            },
            logOut () {
                this.$emit('logOut');
            },
            selectBuyer (person) {
                this.$emit('buyerSelected', person);
            },
            changeGroup (group) {
                this.$emit('changeGroup', group);
            }
        },
        computed: {
            orderedPeople () {
                return this.people.sort((a, b) => {
                    return a.value > b.value;
                });
            }
        }
    };
</script>

<style scoped>
</style>
