<template>
    <div>
        <md-toolbar class="md-primary">
            <md-button
                    v-if="people.length > 1"
                    class="md-icon-button"
                    @click="back"
            >
                <md-icon>arrow_back</md-icon>
            </md-button>
            <h2 class="md-title">Create a new person</h2>
        </md-toolbar>
        <div class="page create-person">
            <p class="md-subheading">Create a new person for your group. Add their email address if you would like them to be able to manage this
                group as well.</p>
            <p v-if="people.length < 2">You'll need someone else in this group to participate before you can start.</p>
            <form novalidate @submit.stop.prevent="createPersonSubmit">
                <md-input-container :class="{ 'md-input-invalid': errors.has('name') }">
                    <label>Name</label>
                    <md-input
                            v-model="name"
                            type="text"
                            placeholder="Their name"
                            autofocus="autofocus"
                    ></md-input>
                </md-input-container>
                <md-input-container :class="{ 'md-input-invalid': errors.has('email') }">
                    <label>Email (optional)</label>
                    <md-input
                            v-model="email"
                            type="email"
                            placeholder="Their email address [optional]"
                    ></md-input>
                </md-input-container>
                <md-button type="submit"
                           class="md-primary md-raised"
                >Create person</md-button>
            </form>
        </div>
    </div>
</template>

<script>
    import Logo from './Logo';

    export default {
        components: {
            Logo
        },
        data () {
            return {
                name: null,
                email: null
            };
        },
        props: {
            people: {
                type: Array,
                required: true
            },
            errors: null
        },
        methods: {
            back () {
                this.$emit('pageChanged', 'choose-buyer');
            },
            createPersonSubmit () {
                this.$emit('createPerson', {name: this.name, email: this.email});
            }
        },
        computed: {
        }
    };
</script>

<style scoped>
</style>
