<template>
    <div class="loading">
        <md-spinner md-indeterminate></md-spinner>
    </div>
</template>

<script>
    export default {
        data () {
            return {
            };
        },
        methods: {
        },
        computed: {
        }
    };
</script>

<style lang="scss" scoped>
    .loading {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
