<template>
    <div>
        <md-toolbar class="md-primary">
            <md-button
                    class="md-icon-button"
                    @click="openSideBar"
            >
                <md-icon>menu</md-icon>
            </md-button>
            <h2 class="md-title">{{ groupName }}</h2>
        </md-toolbar>

        <md-sidenav class="md-left"
                    ref="sideBar"
                    @open="onOpen"
                    @close="onClose"
        >
            <md-toolbar>
                <div class="md-toolbar-container">
                    <md-button
                            class="md-icon-button"
                            @click="closeSideBar"
                    >
                        <md-icon>arrow_back</md-icon>
                    </md-button>
                    <logo :reversed="true"></logo>
                </div>
            </md-toolbar>

            <md-list>
                <md-list-item v-if="groups.length > 1">
                    <md-icon>group</md-icon>
                    <span>Switch group</span>
                    <md-list-expand>
                        <md-list>
                            <md-list-item
                                    v-for="g in groups"
                                    @click="changeGroup(g)"
                            >
                                <md-icon class="md-accent">check_box{{ g.id === group.id ? '' : '_outline_blank' }}</md-icon>
                                <div class="md-list-text-container">{{ g.name }}</div>
                            </md-list-item>
                        </md-list>
                    </md-list-expand>
                </md-list-item>
                <md-list-item @click="showManageGroup">
                    <md-icon>edit</md-icon>
                    <span>Edit this group</span>
                </md-list-item>
                <md-list-item @click="showManageGroup" v-if="false">
                    <md-icon>add_circle</md-icon>
                    <span>Create new group</span>
                </md-list-item>
                <md-list-item @click="showAbout">
                    <md-icon>info</md-icon>
                    <span>About RoundPal</span>
                </md-list-item>
                <md-list-item @click="logOut">
                    <md-icon>close</md-icon>
                    <span>Log out on this device</span>
                </md-list-item>
            </md-list>
        </md-sidenav>
    </div>
</template>

<script>
    import Logo from './Logo';

    export default {
        components: {
            Logo
        },
        data () {
            return {
            };
        },
        props: {
            groups: null,
            group: null
        },
        methods: {
            toggleGroupSelect () {
                console.log('change group');
            },
            openSideBar () {
                this.$refs.sideBar.toggle();
            },
            closeSideBar () {
                this.$refs.sideBar.close();
            },
            onOpen () {
            },
            onClose () {
            },
            showChooseBuyer () {
                this.$refs.sideBar.close();
                this.$emit('pageChanged', 'choose-buyer');
            },
            showManageGroup () {
                this.$refs.sideBar.close();
                this.$emit('pageChanged', 'manage-group');
            },
            showSignUpIn () {
                this.$refs.sideBar.close();
                this.$emit('pageChanged', 'sign-up-in');
            },
            showAbout () {
                this.$refs.sideBar.close();
                this.$emit('pageChanged', 'about');
            },
            returnHome () {
                let home = 'sign-up-in';
                if (this.token) {
                    home = 'choose-buyer';
                }

                this.$emit('pageChanged', home);
            },
            logOut () {
                this.$refs.sideBar.close();
                this.$emit('logOut');
            },
            changeGroup (group) {
                this.$emit('changeGroup', group);
                this.$refs.sideBar.close();
            }
        },
        computed: {
            groupName () {
                if (this.group && this.group.name) {
                    return this.group.name;
                }
                return 'RoundPal';
            }
        }
    };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .logo {
        padding-left: 20px;
    }
    /*
    .md-sidenav:not(.md-active) {
        display: none;
    }
    */
</style>
