<template>
    <div>
        <md-toolbar class="md-primary">
            <md-button
                    class="md-icon-button"
                    @click="back"
            >
                <md-icon>arrow_back</md-icon>
            </md-button>
            <h2 class="md-title">Editing {{ group.name }}</h2>
        </md-toolbar>
        <md-tabs md-fixed class="md-transparent">
            <md-tab id="group" md-label="Group">
                <form novalidate @submit.stop.prevent="changeNameSubmit">
                    <md-input-container :class="{ 'md-input-invalid': errors.has('name') }">
                        <label>Name your group (i.e. 'Coffee' or 'Movies')</label>
                        <md-input
                                v-model="internalGroup.name"
                                type="text"
                                placeholder="Group Name"
                        ></md-input>
                    </md-input-container>
                    <!--<md-switch>Switch to money mode</md-switch>-->
                    <md-button type="submit"
                               class="md-primary md-raised"
                    >Save</md-button>
                </form>
            </md-tab>
            <md-tab id="people" md-label="People">
                <md-list>
                    <md-list-item v-for="person in internalPeople">
                        <span v-text="getPersonName(person.id)"></span>
                        <md-list-expand class="edit-person">
                            <md-input-container>
                                <label>Name</label>
                                <md-input
                                        v-model="person.name"
                                        type="text"
                                        placeholder="Name"
                                ></md-input>
                            </md-input-container>
                            <md-input-container>
                                <label>Email</label>
                                <md-input
                                        v-model="person.email"
                                        type="text"
                                        placeholder="Email"
                                ></md-input>
                            </md-input-container>
                            <md-button type="button"
                                       class="md-primary md-raised"
                                       @click="savePerson(person)"
                            >Save</md-button>
                            <md-button type="button"
                                       class="md-warn md-raised"
                                       :disabled="person.value !== 0"
                                       @click="confirmRemove(person)"
                            >Remove</md-button>
                            <p class="md-caption" v-if="person.value > 0">{{ person.name }} is still owed {{ person.value }}.
                                They will need to be on 0 before you can remove them.</p>
                            <p class="md-caption" v-if="person.value < 0">{{ person.name }} still owes {{ person.value * -1 }}.
                                They will need to be on 0 before you can remove them.</p>
                        </md-list-expand>
                    </md-list-item>
                </md-list>
                <md-button class="md-raised md-accent"
                           @click.prevent="showCreatePerson"
                >Add another person</md-button>
                <md-dialog-confirm ref="confirmDialog"
                                   :md-content="confirmRemoveText"
                                   md-title="Confirm"
                                   @open="onOpen"
                                   @close="onClose"
                >
                </md-dialog-confirm>
            </md-tab>
        </md-tabs>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                personToRemove: null,
                internalGroup: JSON.parse(JSON.stringify(this.group)),
                internalPeople: JSON.parse(JSON.stringify(this.people))
            };
        },
        props: {
            group: {
                type: Object,
                required: true
            },
            people: {
                type: Array,
                required: true
            },
            errors: null
        },
        methods: {
            back () {
                this.$emit('pageChanged', 'choose-buyer');
            },
            changeNameSubmit () {
                this.$emit('changeGroupName', this.internalGroup.name);
            },
            showCreatePerson () {
                this.$emit('pageChanged', 'create-person');
            },
            confirmRemove (person) {
                this.personToRemove = person;
                this.$refs.confirmDialog.open();
            },
            savePerson (person) {
                this.$emit('changePerson', person);
            },
            closeDialog (ref) {
                this.$refs[ref].close();
            },
            onOpen () {
            },
            onClose (type) {
                if (type === 'ok') {
                    this.$emit('removePerson', this.personToRemove);
                }
            },
            getPersonName (id) {
                let name = '';

                this.people.forEach(person => {
                    if (person.id === id) {
                        name = person.name;
                    }
                });

                return name;
            }
        },
        computed: {
            confirmRemoveText () {
                if (this.personToRemove) {
                    return `Are you sure you would like to remove ${this.personToRemove.name}?`;
                } else {
                    return 'Are you sure?';
                }
            }
        }
    };
</script>

<style scoped>
    .edit-person {
        padding: 10px;
    }
</style>
