<template>
    <div>
        <md-toolbar class="md-primary">
            <logo class="md-title" :reversed="true" :iconOnly="false"></logo>
        </md-toolbar>
        <div class="page">
            <p class="md-title">We've sent you an email with a 4 digit code. Enter it here.</p>
            <p>Taking a long time? Check your spam folder. If you still can't find it
                <a href="#" @click.prevent="requestCode">try again</a>.</p>
            <form @submit.stop.prevent="submitCode">
                <md-input-container :class="{ 'md-input-invalid': errors.has('code') }">
                    <label>Enter your code here</label>
                    <md-input
                            v-model="code"
                            class="code md-title"
                            type="number"
                            placeholder="1234"
                            required
                            @keyup.enter="submitCode"
                            autofocus="autofocus"
                    ></md-input>
                    <span v-if="errors.has('code')" class="md-error">
                    {{ errors.get('code').message }}
                    <a @click.prevent="requestCode">Request another code</a>
                </span>
                </md-input-container>
            </form>
            <md-button
                    :disabled="codeIsValid === false"
                    class="md-raised md-primary"
                    @click="submitCode"
            >Let's go!</md-button>
            <md-button
                    class=""
                    @click="requestCode"
            >I don't have a code</md-button>
        </div>
    </div>
</template>

<script>
    import Logo from './Logo';

    export default {
        components: {
            Logo
        },
        data () {
            return {
                code: null
            };
        },
        props: {
            errors: null
        },
        methods: {
            submitCode () {
                this.$emit('codeSubmitted', this.code);
            },
            requestCode () {
                this.$emit('requestAnotherCode');
            }
        },
        computed: {
            codeIsValid () {
                return this.code !== null && this.code.toString().length === 4;
            }
        }
    };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .code {
        font-family: monospace;
    }
</style>
