<template>
    <div>
        <md-toolbar class="md-primary">
            <logo class="md-title" :reversed="true" :iconOnly="false"></logo>
        </md-toolbar>
        <div class="page">
            <p class="md-title">RoundPal helps you keep track of who's turn it is to pay for the next round.</p>
            <p>Sign up or sign in here with your email address and we'll send you a code to get in. No need to
                remember passwords.</p>
            <form novalidate @submit="sendMeMyCode">
                <md-input-container :class="{ 'md-input-invalid': errorCode === 400 }">
                    <label>Email</label>
                    <md-input
                            v-model="email"
                            type="email"
                            placeholder="Your email address"
                            autofocus="autofocus"
                    ></md-input>
                    <span v-if="errorCode === 400" class="md-error">
                    There was a problem processing this. Was that a proper email address?
                </span>
                </md-input-container>
                <md-button
                        :disabled="!emailIsValid"
                        class="md-raised md-primary"
                        @click="sendMeMyCode"
                >Send me my code</md-button>
            </form>
        </div>
    </div>
</template>

<script>
    import Logo from './Logo';

    export default {
        components: {
            Logo
        },
        data () {
            return {
                errorCode: null,
                email: null
            };
        },
        methods: {
            sendMeMyCode (event) {
                event.preventDefault();

                this.$emit('emailSubmitted', this.email);
            }
        },
        computed: {
            emailIsValid () {
                return this.email && this.email.match(/.+@.+\..+/);
            }
        }
    };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
