<template>
    <div>
        <about
                v-if="currentPage === 'about'"
                :token="token"
                @pageChanged="pageChanged"
        ></about>
        <sign-up-in
                v-if="currentPage === 'sign-up-in'"
                @emailSubmitted="emailSubmitted"
                @pageChanged="pageChanged"
        ></sign-up-in>
        <sign-in
                v-if="currentPage === 'sign-in'"
                :email="person.email"
                :errors="errors"
                @codeSubmitted="codeSubmitted"
                @pageChanged="pageChanged"
                @requestAnotherCode="requestAnotherCode"
        ></sign-in>
        <choose-buyer
                v-if="currentPage === 'choose-buyer'"
                :group="group"
                :groups="groups"
                :people="people"
                @pageChanged="pageChanged"
                @buyerSelected="buyerSelected"
                @changeGroup="changeGroup"
                @logOut="logOut"
        ></choose-buyer>
        <choose-recipients
                v-if="currentPage === 'choose-recipients'"
                :group="group"
                :groups="groups"
                :people="people"
                :buyer="buyer"
                @pageChanged="pageChanged"
                @resetBuyer="resetBuyer"
                @recipientsSelected="recipientsSelected"
                @changeGroup="changeGroup"
                @logOut="logOut"
        ></choose-recipients>
        <create-person
                v-if="currentPage === 'create-person'"
                :people="people"
                :errors="errors"
                @createPerson="createPerson"
                @pageChanged="pageChanged"
        ></create-person>
        <manage-group
                v-if="currentPage === 'manage-group'"
                :group="group"
                :people="people"
                :errors="errors"
                @removePerson="removePerson"
                @changePerson="changePerson"
                @pageChanged="pageChanged"
                @changeGroupName="changeGroupName"
        ></manage-group>
        <loading
                v-if="showLoading"
        ></loading>
    </div>
</template>

<script>
    import About from './components/About';
    import ChooseBuyer from './components/ChooseBuyer';
    import ChooseRecipients from './components/ChooseRecipients';
    import CreatePerson from './components/CreatePerson';
    import Errors from './Errors';
    import Loading from './components/Loading';
    import ManageGroup from './components/ManageGroup';
    import SignIn from './components/SignIn';
    import SignUpIn from './components/SignUpIn';
    import Vue from 'vue';

    export default {
        components: {
            About,
            ChooseBuyer,
            ChooseRecipients,
            CreatePerson,
            Loading,
            ManageGroup,
            SignIn,
            SignUpIn
        },
        data () {
            return {
                currentPage: '',
                person: null,
                token: null,
                groups: [],
                group: null,
                people: [],
                showLoading: false,
                errors: new Errors()
            };
        },
        methods: {
            pageChanged (page) {
                if (page === 'choose-buyer' && this.people.length < 2) {
                    this.currentPage = 'create-person';
                } else {
                    this.currentPage = page;
                }
            },
            handleFetchError (error) {
                this.showLoading = false;

                if (error.status) {
                    this.errors.add({});
//                    this.errorCode = error.status;
//                    this.errorMessage = error.statusText;
                } else {
                    this.errors.add({});
//                    this.errorCode = 400;
//                    this.errorMessage = 'Unable to connect to the server';
                }
            },
            fetchGroups () {
                return fetch(`${process.env.API_URL}/v1/people/${this.person.id}/groups`, {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'X-Api-Key': this.token
                    }
                }).then((response) => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        return Promise.reject(response);
                    }
                }).then((json) => {
                    let result = json.data;

                    this.groups = result;
                    this.group = result[0];

                    this.groups.forEach((group) => {
                        Vue.set(group, 'isCurrent', group.id === this.group.id);
                    });

                    return Promise.resolve('Done');
                });
            },
            fetchPeople () {
                return fetch(`${process.env.API_URL}/v1/groups/${this.group.id}/people`, {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'X-Api-Key': this.token
                    }
                }).then((response) => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        return Promise.reject(response.status);
                    }
                }).then((json) => {
                    this.people = json.data;

                    this.people.forEach((person) => {
                        Vue.set(person, 'isRecipient', false);
                        Vue.set(person, 'isBuyer', false);
                    });

                    return Promise.resolve('Done');
                });
            },
            emailSubmitted (email) {
                this.showLoading = true;

                fetch(`${process.env.API_URL}/v1/sign-up-in`, {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ email })
                }).then((response) => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        this.handleFetchError(response);
                    }
                }).then((json) => {
                    this.showLoading = false;

                    localStorage.setItem('person', json.data.id);
                    this.person = json.data;
                    this.currentPage = 'sign-in';
                }).catch((error) => {
                    this.handleFetchError(error);
                });
            },
            codeSubmitted (code) {
                this.showLoading = true;

                fetch(`${process.env.API_URL}/v1/sign-in/${this.person.id}/${code}`, {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    }
                }).then((response) => {
                    if (response.ok) {
                        response.text().then((token) => {
                            this.showLoading = false;

                            this.token = token;
                            localStorage.setItem('token', token);
                            this.loadGroupsAndPeople();
                        });
                    } else {
                        response.json().then((error) => {
                            this.showLoading = false;

                            this.errors.add({code: error.data.code, message: error.data.message, field: 'code'});
                        });
                    }
                }).catch((error) => {
                    this.handleFetchError(error);
                });
            },
            requestAnotherCode () {
                this.resetData();
                this.currentPage = 'sign-up-in';
            },
            loadGroupsAndPeople () {
                this.showLoading = true;

                this.fetchGroups().then(() => {
                    this.fetchPeople().then(() => {
                        this.showLoading = false;

                        if (this.people.length < 2) {
                            this.currentPage = 'create-person';
                        } else {
                            this.currentPage = 'choose-buyer';
                        }
                    }).catch((error) => {
                        this.handleFetchError(error);
                    });
                }).catch((error) => {
                    this.handleFetchError(error);
                });
            },
            buyerSelected (selectedPerson) {
                this.people.forEach((person) => {
                    person.isBuyer = (person.id === selectedPerson.id);
                    person.isRecipient = false;
                });

                this.currentPage = 'choose-recipients';
            },
            recipientsSelected (selectedRecipients) {
                let transaction = {
                    'people': [
                        {
                            'id': this.buyer.id,
                            'value': selectedRecipients.length
                        }
                    ]
                };

                selectedRecipients.forEach((recipient) => {
                    transaction.people.push({
                        'id': recipient.id,
                        'value': -1
                    });
                });

                this.showLoading = true;

                fetch(`${process.env.API_URL}/v1/groups/${this.group.id}/transactions`, {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'X-Api-Key': this.token
                    },
                    body: JSON.stringify(transaction)
                }).then((response) => {
                    if (response.ok) {
                        this.currentPage = 'choose-buyer';
                        this.fetchPeople().then(() => {
                            this.showLoading = false;
                        }).catch((error) => {
                            this.handleFetchError(error);
                        });
                    } else {
                        this.handleFetchError(response);
                    }
                }).catch((error) => {
                    this.handleFetchError(error);
                });
            },
            resetBuyer () {
                this.people.forEach((person) => {
                    person.isBuyer = false;
                    person.isRecipient = false;
                });

                this.currentPage = 'choose-buyer';
            },
            createPerson (person) {
                this.showLoading = true;

                fetch(`${process.env.API_URL}/v1/groups/${this.group.id}/people`, {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'X-Api-Key': this.token
                    },
                    body: JSON.stringify(person)
                }).then((response) => {
                    if (response.ok) {
                        this.fetchPeople().then(() => {
                            this.showLoading = false;

                            this.currentPage = 'choose-buyer';
                        }).catch((error) => {
                            this.handleFetchError(error);
                        });
                    } else {
                        this.handleFetchError(response);
                    }
                }).catch((error) => {
                    this.handleFetchError(error);
                });
            },
            changePerson (person) {
                this.showLoading = true;

                // update the name field
                fetch(`${process.env.API_URL}/v1/people/${person.id}`, {
                    method: 'PATCH',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'X-Api-Key': this.token
                    },
                    body: JSON.stringify({
                        op: 'replace',
                        path: 'name',
                        value: person.name
                    })
                }).then((response) => {
                    if (response.ok) {
                        // now update the email address
                        fetch(`${process.env.API_URL}/v1/people/${person.id}`, {
                            method: 'PATCH',
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json',
                                'X-Api-Key': this.token
                            },
                            body: JSON.stringify({
                                op: 'replace',
                                path: 'email',
                                value: person.email
                            })
                        }).then((response) => {
                            if (response.ok) {
                                this.fetchPeople().then(() => {
                                    this.showLoading = false;
                                }).catch((error) => {
                                    this.handleFetchError(error);
                                });
                            } else {
                                this.handleFetchError(response);
                            }
                        }).catch((error) => {
                            this.handleFetchError(error);
                        });
                    } else {
                        this.handleFetchError(response);
                    }
                }).catch((error) => {
                    this.handleFetchError(error);
                });
            },
            removePerson (person) {
                this.showLoading = true;

                fetch(`${process.env.API_URL}/v1/groups/${this.group.id}/people/${person.id}`, {
                    method: 'DELETE',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'X-Api-Key': this.token
                    }
                }).then((response) => {
                    if (response.ok) {
                        this.fetchPeople().then(() => {
                            this.showLoading = false;

                            if (this.people.length < 2) {
                                this.currentPage = 'create-person';
                            } else {
                                this.currentPage = 'choose-buyer';
                            }
                        }).catch((error) => {
                            this.handleFetchError(error);
                        });
                    } else {
                        this.handleFetchError(response);
                    }
                }).catch((error) => {
                    this.handleFetchError(error);
                });
            },
            changeGroupName (newName) {
                this.showLoading = true;

                fetch(`${process.env.API_URL}/v1/groups/${this.group.id}`, {
                    method: 'PATCH',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'X-Api-Key': this.token
                    },
                    body: JSON.stringify({
                        op: 'replace',
                        path: 'name',
                        value: newName
                    })
                }).then((response) => {
                    if (response.ok) {
                        this.showLoading = false;
                        this.group.name = newName;
                    } else {
                        this.handleFetchError(response);
                    }
                }).catch((error) => {
                    this.handleFetchError(error);
                });
            },
            changeGroup (group) {
                this.showLoading = true;

                this.currentPage = 'choose-buyer';
                this.group = group;
                this.fetchPeople().then(() => {
                    this.showLoading = false;

                    if (this.people.length < 2) {
                        this.currentPage = 'create-person';
                    }
                }).catch((error) => {
                    this.handleFetchError(error);
                });
            },
            logOut () {
                this.resetData();
                this.currentPage = 'sign-up-in';
            },
            clearErrors () {
                this.errors.clear();
            },
            resetData () {
                this.currentPage = null;
                localStorage.removeItem('person');
                localStorage.removeItem('token');
                this.clearErrors();
                this.person = null;
                this.token = null;
                this.groups = [];
                this.group = null;
                this.people = [];
            }
        },
        computed: {
            buyer () {
                let buyers = this.people.filter(person => person.isBuyer);

                if (buyers.length > 0) {
                    return buyers.pop();
                }
            }
        },
        created () {
            this.showLoading = true;

            // check to see whether there is a person and token cookie set. if not, show the login page
            let personId = localStorage.getItem('person');
            let token = localStorage.getItem('token');

            if (personId !== null) {
                this.person = {id: personId};
            }

            if (token !== null) {
                this.token = token;
            }

            if (personId !== null && token !== null) {
                this.loadGroupsAndPeople();
            } else if (personId !== null) {
                this.showLoading = false;

                this.currentPage = 'sign-in';
            } else {
                this.showLoading = false;

                this.currentPage = 'sign-up-in';
            }
        }
    };
</script>

<style type="text/css" lang="scss" rel="stylesheet/scss">
    $color-highlight: #40c4ff;
    $color-warn: #ff5722;

    .page {
        padding: 20px;
    }

    .is-buyer {
        background-color: $color-highlight;
        color: white;
        border: none;

        .md-theme-app.md-icon.md-accent {
            color: white;
        }
    }

    .is-recipient {
        background-color: $color-warn;
        color: white;
        border: none;

        .md-theme-app.md-icon.md-warn {
            color: white;
        }
    }
</style>
